body{
    background: #fff;
}

p{
    /* color: #fff; */
}

.wrapper{
    padding: 40px;
}
.row{
    margin-bottom: 40px;
}
.top{
    margin: 60px 0 60px 0;
}

.menu{
    text-align: right;
}

.menu > dt{
    display: inline-block;
    margin-right: 10px;
}

.name{
    color: pink;
    font-size: 50px;
}

.desp{
    font-size: 24px;
}

.wrap-img{
    text-align: center;
}
.wrap-img > .title{
    font-size: 14px;
    margin-top: 10px;
}
.wrap-img > .subtitle{
    font-size: 12px;
    margin-top: 3px;
}

