@import url("https://fonts.googleapis.com/css?family=Muli|Sen&display=swap");
@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}

body {
  background: #000;
  font-family: "Sen", sans-serif, "Muli", sans-serif;
  font-weight: 100;
  margin-bottom: 0;
  color: #fff;
}

#full-page {
  -webkit-animation: fadeIn 1s ease-out .2s 1 forwards;
          animation: fadeIn 1s ease-out .2s 1 forwards;
  opacity: 0;
}

.inner-page {
  background: #e9e9e9;
}

a {
  color: #fff;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

a:hover {
  text-decoration: none;
  color: #fe8752;
}

p {
  margin-bottom: 10px;
  line-height: 1.5;
}

.wrapper {
  padding: 40px 15px;
  text-align: center;
}

.inner {
  width: auto;
  margin: 0 auto;
}

.inner .imgae {
  text-align: center;
}

footer {
  margin-top: 20px;
  margin-bottom: -20px;
  font-size: 13px;
}

.pre-info {
  font-size: 14px;
}

.pre-info .col-sm-3 {
  margin-bottom: 5px;
}

.pre-info h6 {
  font-family: "Radnika-Bold", sans-serif;
  color: #fff;
  font-weight: 800;
}

.pre-info ul {
  margin: 0 0 10px 0;
  padding: 0;
  list-style: none;
}

.pre-info li {
  margin-bottom: 3px;
}

.article .image {
  text-align: center;
}

.article h3 {
  color: #fe8752;
}

.article h5 {
  font-size: 16px;
  color: #fff;
}

.article p {
  text-align: justify;
  margin-top: 5px;
  font-family: 'Fakt', sans-serif;
  font-weight: 100;
}

.article .keywords {
  margin-bottom: 30px;
  color: #777;
}

.unexpected {
  color: #999;
  text-decoration: line-through;
}

.row {
  margin-bottom: 40px;
}

.col-sm-12 {
  margin-bottom: 15px;
}

.top {
  margin: 80px 0 60px 0;
}

.menu {
  text-align: right;
  margin-bottom: 50px;
}

.menu dt {
  display: inline-block;
  margin-right: 40px;
}

.menu dt a {
  color: #fff;
  letter-spacing: 1px;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  text-decoration: none;
}

.menu dt a:hover {
  color: #fe8752;
}

.menu dt a.active {
  color: #fe8752;
}

.name {
  color: #fe8752;
  font-size: 50px;
  font-family: "Sen", sans-serif, "Muli", sans-serif;
}

.name span {
  font-size: 12px;
  display: block;
}

.desp {
  font-size: 18px;
  font-weight: 300;
  color: gray;
}

.wrap-img {
  text-align: center;
}

.wrap-img .thumbnail {
  display: block;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  cursor: pointer;
}

.wrap-img .thumbnail img {
  border-radius: 10px;
}

.wrap-img .thumbnail .title {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  margin-top: 10px;
  text-transform: uppercase;
}

.wrap-img .thumbnail:hover > .title {
  color: #fe8752;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.wrap-img .thumbnail:hover > img {
  -webkit-filter: brightness(0.6);
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.wrap-img .thumbnail > .subtitle {
  color: #fff;
  font-size: 16px;
}

.hr {
  border-width: 1px;
  border-color: #fe8752;
  margin: 10px 0;
}

.about_desp {
  background-color: #ffffff36;
  padding: 10px;
  margin-top: 10px;
  border-radius: 10px;
}

.info {
  display: block;
  width: 100%;
}

.info dt {
  display: inline-block;
}

.na_info {
  margin-bottom: 5px;
}

.na_info h3 {
  line-height: 1.5;
}

.na_info span {
  display: block;
}

.na_info p {
  text-align: justify;
  font-family: 'Muli';
}

.article-center {
  text-align: center;
}

.top-img1 {
  width: 100%;
  height: 150px;
  background: #000;
}

.summary {
  letter-spacing: 8px;
  color: #555;
}

.headtitle {
  margin-top: 20px;
  font-size: 16px;
  font-weight: 500;
  color: #fe8752;
}

.info {
  margin-bottom: 30px;
}

.info ul {
  margin: 20px 0 0px 0;
  padding: 0;
  font-size: 14px;
}

.info li {
  list-style: none;
  list-style-type: none;
  margin-right: 10px;
  margin-bottom: 5px;
}

.info .title {
  border-left: 3px solid #fe8752;
  margin-bottom: 10px;
  color: #fe8752;
  font-size: 16px;
  font-weight: 900;
}

.info .title.first {
  border: none;
}

.bg2 {
  background: black;
}

.pic_me {
  width: auto;
  margin-top: 40px;
}

@media screen and (min-width: 860px) {
  .inner {
    width: 860px;
  }
}
/*# sourceMappingURL=style.css.map */