@import url('https://fonts.googleapis.com/css?family=Muli|Sen&display=swap');

@-webkit-keyframes fadeIn {
    from {
      opacity: 0;
    }
  
    to {
      opacity: 1;
    }
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
  
    to {
      opacity: 1;
    }
  }
  
  .fadeIn {
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
  }
  

$break-desktop: 860px;
// $break-large: 1200px;


$font-family: 'Sen', sans-serif,'Muli', sans-serif;
$primary: #30c39e;
$font-title: 20px;
$font-sub: 16px;
$font-gray: #555;
$font-gray-1: #aaa;
$font-size: 14px;
$font-light: #fff;
$font-main: #fe8752;


%transition {
    transition: all .3s ease;
}

body{
    background:  #000;
    font-family: $font-family;
    font-weight: 100;
    margin-bottom: 0;
    color: $font-light;
}

#full-page {
    animation: fadeIn 1s ease-out .2s 1 forwards;
    opacity: 0;
}

.inner-page{
    background: rgb(233, 233, 233);
}

a{
    color: #fff;
    transition: all 0.4s;

    &:hover{
        text-decoration: none;
        color: $font-main;
    }
}


p{
    margin-bottom: 10px;
    line-height: 1.5;
}

.wrapper{
    padding: 40px 15px;
    text-align: center;
}

// .wrapper.black{
//     background-color: #000;
// }

.inner{
    width: auto;
    margin: 0 auto;
    // background: rgb(233, 233, 233);

    .imgae{
        text-align: center;
    }

}

footer{
    margin-top: 20px;
    margin-bottom: -20px;
    font-size: 13px;
}

.pre-info{
    font-size: 14px;

    .col-sm-3{
        margin-bottom: 5px;
    }

    h6{
        font-family: "Radnika-Bold", sans-serif;
        color: $font-light;
        font-weight: 800;
    }
    ul{
        margin: 0 0 10px 0;
        padding: 0;
        list-style: none;
    }

    li{
        margin-bottom: 3px;
    }
}

.article{

    .image{
        text-align: center;
    }

    h3{
        color: $font-main;
    }

    h5{
        font-size: 16px;
        color: $font-light;
    }

    p{
        text-align: justify;
        margin-top: 5px;
        font-family: 'Fakt', sans-serif;
        font-weight: 100;
    }

    .keywords{
        margin-bottom: 30px;
        color: #777;
    }
    
    
}

.unexpected{
    color: #999;
    text-decoration: line-through;
}

.row{
    margin-bottom: 40px;
}

.col-sm-12{
    margin-bottom: 15px;
}

.top{
    margin: 80px 0 60px 0;
}

.menu{
    text-align: right;
    margin-bottom: 50px;

    dt{
        display: inline-block;
        margin-right: 40px;

        a{
            color: $font-light;
            letter-spacing: 1px;
            transition: all 0.4s;
            text-decoration: none;

            &:hover{
                color: $font-main;
            }
        }

        a.active{
            color: $font-main;
        }
    }
}

.name{
    color: $font-main;
    font-size: 50px;
    font-family: $font-family;

    span{
        font-size: 12px;
        display: block;
    }
}

.desp{
    font-size: 18px;
    font-weight: 300;
    color: gray;
}

.wrap-img{
    text-align: center;
    .thumbnail{
        display: block;
        transition: all 0.4s;
        cursor: pointer;

        img{
            border-radius: 10px;
        }

        .title{
            color: $font-light;
            font-size: $font-title;
            font-weight: 600;
            margin-top: 10px;
            text-transform: uppercase;
        }
    
        &:hover >.title{
            color: $font-main;
            transition: all 0.4s;
        }

     

        &:hover > img{
            -webkit-filter:brightness(.6);
            transition: all 0.4s;
        }


        & > .subtitle{
            color: $font-light;
            font-size: $font-sub;
        }
    }

}

.hr{
    border-width: 1px;
    border-color: $font-main;
    margin: 10px 0;
}

.about_desp{
    background-color: #ffffff36;
    padding: 10px;
    margin-top: 10px;
    border-radius: 10px;
}

.info{
    display: block;
    width: 100%;

    dt{
        display: inline-block;
    }
}

.na_info{
    margin-bottom: 5px;

    h3{
    line-height: 1.5;
    }

    span{
        display: block;
    }

    p{
        text-align: justify;
        font-family: 'Muli';
    }
}

.article-center{
    text-align: center;
}

.top-img1{
    width: 100%;
    height: 150px;
    background: #000;
}

.summary{
    letter-spacing: 8px;
    color: $font-gray;
}

.headtitle{
    margin-top: 20px;
    font-size: $font-sub;
    font-weight: 500;
    color: $font-main;
}

// .subtitle{
//     margin: 20px 0;
//     font-size: 15px;
//     font-weight: 800;
//     color: Gray;
// }


.info{
    margin-bottom: 30px;

    ul{
        margin: 20px 0 0px 0;
        padding: 0;
        font-size: $font-size;

      
    }




    li{
        list-style: none;
        list-style-type: none;
        margin-right: 10px;
        margin-bottom: 5px;
    }

    .title{
        border-left: 3px solid $font-main;
        margin-bottom: 10px;
        color: $font-main;
        font-size: 16px;
        font-weight: 900;

        &.first{
            border:none;
        }

    }

}

.bg2{
    background: black;
}

.pic_me{
    width: auto;
    margin-top: 40px;
}

@media screen and (min-width: $break-desktop) {
    .inner{
        width: 860px;
    }

}