@import url('https://fonts.googleapis.com/css?family=Varela+Round');

@keyframes fade-in{  
    0%{ opacity: 0;}
    100%{opacity:1;}
}


$font: 'Fakt', sans-serif,'Varela Round', sans-serif;

$primary: #30c39e;
$font-title: 20px;
$font-sub: 16px;
$font-gray: #555;
$font-gray-1: #aaa;
$font-size: 14px;


%transition {
    transition: all .3s ease;
}

body{
    background: #fff;
    font-family: 'Fakt', sans-serif;
    font-weight: 100;
    margin-bottom: 0;
}

.wrapper{
    padding: 40px;
}

.inner{
    width: 860px;
    margin: 0 auto;

    .imgae{
        text-align: center;
    }
    
}

footer{
    margin-top: 20px;
    margin-bottom: -20px;
    font-size: 13px;
}

.article{

    .image{
        text-align: center;
    }

    h3{
        color: pink;
    }

    p{
        text-align: justify;
        margin-top: 5px;
        font-family: 'Fakt', sans-serif;
        font-weight: 100;
    }

    .keywords{
        margin-bottom: 30px;
        color: #777;
    }
    
}

.row{
    margin-bottom: 40px;
}

.col-sm-12{
    margin-bottom: 15px;
}

.top{
    margin: 60px 0 60px 0;
}

.menu{
    text-align: right;
    margin-bottom: 50px;

    dt{
        display: inline-block;
        margin-right: 20px;

        a{
            color: #555;
        }

        a.active{
            color: pink;
        }
    }
}

.name{
    color: pink;
    font-size: 50px;
}

.desp{
    font-size: 24px;
    font-weight: 300;
    color: gray;
}

.wrap-img{
    text-align: center;

    .title{
        color: $font-gray;
        font-size: $font-title;
        font-weight: 600;
        margin-top: 10px;
        text-transform: uppercase;
    }

    .subtitle{
        color: $font-gray-1;
        font-size: $font-sub;
        margin-top: 3px;
        
    }
}

.info{
    display: block;
    width: 100%;

    dt{
        display: inline-block;
    }
}

.article-center{
    text-align: center;
}

.top-img1{
    width: 100%;
    height: 150px;
    background: #000;
}

.summary{
    letter-spacing: 8px;
    color: $font-gray;
}

.headtitle{
    margin-top: 20px;
    font-size: $font-sub;
    font-weight: 500;
    color: pink;
}


.info{
    margin-bottom: 30px;

    ul{
        margin: 20px 0 0px 0;
        padding: 0;
        font-size: $font-size;
    }

    li{
        list-style: none;
        list-style-type: none;
        margin-right: 10px;
        margin-bottom: 5px;
    }

    .title{
        border-left: 3px solid pink;
        padding-left: 5px;
        margin-bottom: 10px;
        color: #777;
        font-size: 16px;

    }

}